[Desktop Entry]
Name=ElementaryLunaSquare

X-KDE-PluginInfo-Author=Garthecho - based on design by DanRabbit edited by mrboese
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=ElementaryLuna Square
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL_V2
X-KDE-PluginInfo-EnabledByDefault=true
