[Desktop Entry]
Name=Elementary plasma
X-KDE-PluginInfo-Author=lgsalvati
X-KDE-PluginInfo-Email=lgsalvati@gmail.com	
X-KDE-PluginInfo-Name=default
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-Website=http://lgsalvati.deviantart.com
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=CC By SA
X-KDE-PluginInfo-EnabledByDefault=true
